<div class="flex justify-end items-center p-4 space-x-4">
  <mat-form-field>
    <input matInput placeholder="Start Date" [matDatepicker]="matDatepicker">
    <mat-datepicker-toggle matSuffix [for]="matDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #matDatepicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="">
    <mat-label>Project Manager</mat-label>
    <mat-select (selectionChange)="searchForEmployees()" [(value)]="selectedManager">
      <mat-option  *ngFor="let manager of managers" [value]="manager.id">{{manager.firstName}} {{manager.lastName}}</mat-option>
    </mat-select>
  </mat-form-field>
  <input
    type="search"
    class="p-2 rounded-md shadow-sm placeholder-blueGray-300 outline-none !focus:border-2 !focus:border-intuitivBlue-400"
    placeholder="Search by name"
    (keyup)="searchForEmployees()" [(ngModel)]="keyword">
</div>
