
<div class="bg-blueGray-50 text-blueGray-800">
  <div class="flex items-center justify-between mx-auto h-screen max-w-5xl">
    <div class="">
      <img src="../../../../../assets/Logo.png" alt="" />
    </div>

    <div class="bg-white border border-blueGray-200 rounded-md p-12 w-3/6">
      <div class="space-y-4">
        <img class="mx-auto" src="../../../../../assets/MiniLogo.png" alt="" />
        <div class="">
          <h3 class="text-2xl font-bold text-center">Login</h3>
          <p class="text-sm text-blueGray-400 text-center">
            Enter your email and password below
          </p>
        </div>
      </div>
      <app-login-form></app-login-form>
    </div>
  </div>
</div>
