<div class="m-24">
  <div class="flex justify-between items-center">
    <!--AVATAR SECTION-->
    <div class="flex space-x-4 items-center my-12">
      <div class=" overflow-hidden  bg-red-500">
        <img class="object-contain w-12 h-12  rounded-full"
             [src]='profileImg'>
      </div>
      <div class="">
        <h3 class="text-2xl text-blueGray-800 font-bold">{{profile.firstName}} {{profile.lastName}}</h3>
        <p class="text-blueGray-600 text-lg">{{profile.jobTitle}}</p>
      </div>
    </div>
    <!--AVATAR SECTION-->

    <div class="">
      <ui-button
        [buttonType]="'smallBlueButtonOutline'"
        [buttonContent]="'Edit Employees Profile'"
        [routerLink]="['/employee/admin/editEmployeeProfile',id]" claass>Edit Account</ui-button>
    </div>
  </div>


  <!--MAIN SECTION-->
  <div class="flex space-x-36">
    <!--<div class="">
      <h2>Overview</h2>
    </div>-->
    <div class="">
    <div class="">

      <!--LEAVE SECTION-->
      <div class="leaveSection">

        <!--LEAVE CARD-->
        <div class="shadow-md p-8 pr-12 rounded-lg bg-white">
          <div class="bg-intuitivOrange-500 bg-opacity-10 rounded-full w-12 h-12 p-3">
            <mat-icon class="text-intuitivOrange-500">dashboard</mat-icon>
          </div>
          <div class="">
            <h3 class="text-2xl font-bold text-blueGray-900">
              22
              <span class="text-xs font-semibold text-intuitivOrange-500 -m-1">days</span>
            </h3>
            <p class="text-blueGray-500">Annual Leave</p>
          </div>
        </div>
        <!--LEAVE CARD-->

        <!--LEAVE CARD-->
        <div class="shadow-md p-8 pr-12 rounded-lg bg-white">
          <div class="bg-intuitivOrange-500 bg-opacity-10 rounded-full w-12 h-12 p-3">
            <mat-icon class="text-intuitivOrange-500">dashboard</mat-icon>
          </div>
          <div class="">
            <h3 class="text-2xl font-bold text-blueGray-900">
              22
              <span class="text-xs font-semibold text-intuitivOrange-500 -m-1">days</span>
            </h3>
            <p class="text-blueGray-500">Annual Leave</p>
          </div>
        </div>
        <!--LEAVE CARD-->

        <!--LEAVE CARD-->
        <div class="shadow-md p-8 pr-12 rounded-lg bg-white">
          <div class="bg-intuitivOrange-500 bg-opacity-10 rounded-full w-12 h-12 p-3">
            <mat-icon class="text-intuitivOrange-500">dashboard</mat-icon>
          </div>
          <div class="">
            <h3 class="text-2xl font-bold text-blueGray-900">
              22
              <span class="text-xs font-semibold text-intuitivOrange-500 -m-1">days</span>
            </h3>
            <p class="text-blueGray-500">Annual Leave</p>
          </div>
        </div>
        <!--LEAVE CARD-->


      </div>
      <!--LEAVE SECTION-->
      <div class="h-full mt-12">
        <div  *ngIf="!profile.jobHistory.length" class="w-full rounded-md  flex items-center justify-center h-56">
          <p class="text-blueGray-300 font-semibold">There is no job history</p>
        </div>

        <div class="bg-white rounded-xl overflow-hidden shadow-md" *ngIf="profile.jobHistory.length">
          <div class="grid grid-cols-5 p-4 border-b">
            <p class="text-blueGray-800 font-semibold tracking-wider text-sm">Start Date</p>
            <p class="text-blueGray-800 font-semibold tracking-wider text-sm">End Date</p>
            <p class="text-blueGray-800 font-semibold tracking-wider text-sm">Job Title</p>
            <p class="text-blueGray-800 font-semibold tracking-wider text-sm">Contract Type</p>
            <p class="text-blueGray-800 font-semibold tracking-wider text-sm">Salary</p>
          </div>
          <div class="grid grid-cols-5 p-4 border-b" *ngFor="let job of profile.jobHistory">
            <p class="text-blueGray-500">{{job.startDate | date}}</p>
            <p class="text-blueGray-500">{{job.endDate | date}}</p>
            <p class="text-blueGray-500">{{job.jobTitle}}</p>
            <p class="text-blueGray-500">{{job.contractType}}</p>
            <p class="text-blueGray-500">{{job.salary}}</p>

          </div>
        </div>
      </div>

    </div>
    </div>
    <!--GENERAL INFORMATION SECTION-->
    <div class="bg-white p-12 pr-36 rounded-md shadow-md">
      <h2 class="font-semibold text-blueGray-900 mb-8">General Informations</h2>
      <div class="generalDataSection">
          <div class="generalDataItem">
            <h4>First Name</h4>
            <p>{{profile.firstName}}</p>
          </div>
        <div class="generalDataItem">
          <h4>Last Name</h4>
          <p>{{profile.lastName}}</p>
        </div>
        <div class="generalDataItem">
          <h4>Email</h4>
          <p>{{profile.email}}</p>
        </div>
        <div class="generalDataItem">
          <h4>Manager</h4>
          <p>{{profile.manager.firstName}} {{profile.manager.lastName}}</p>
        </div>
        <div class="generalDataItem">
          <h4>Phone</h4>
          <p>92889209</p>
        </div>
        <div class="generalDataItem">
          <h4>Birth Date</h4>
          <p>{{profile.birthDay | date}}</p>
        </div>
        <div class="generalDataItem">
          <h4>Start Date</h4>
          <p>{{profile.startDate | date}}</p>
        </div>
        <div class="generalDataItem">
          <h4>Contract Type</h4>
          <p>{{profile.contractType | uppercase}}</p>
        </div>
        <div class="generalDataItem">
          <h4>Current salary</h4>
          <p>{{profile.currentSalary}}</p>
        </div>
      </div>
    </div>
    <!--GENERAL INFORMATION SECTION-->

  </div>
  <!--MAIN SECTION-->

</div>
